<p id="notice"><%= notice %></p>

<p>
  <strong><h3>Project Title: &nbsp</h3></strong>
  <h4><%= @project.title %></h4>
</p>
<br/>
<table id="customers">
  <thead>
    <tr>
      <th>Users</th>
      
    </tr>
  </thead>
  <tbody>
  <% @project.users.each do |pu| %>
  
    <tr>
    <td><%= pu.email.split('@')[0]%></td>
    <tr/>
    <%end%> 
</tbody>
</table>

<br/>
<table id="customers">
  <thead>
    <tr>
      <th>Bugs Title</th>
      <th>Bug Deadline</th>
      <th>Bug Type</th>
      <th>Bug Status</th>
      <th>Bug Screenshot</th>
    </tr>
  </thead>
  <tbody>
    <% @project.bugs.each do |pb| %>
    <tr>
    <td><%= pb.title%></td>
    <td><%= pb.deadline %></td>
    <td><%= pb.bug_type %></td>
    <td><%= pb.status %></td>
    <td><%= image_tag pb.screenshot.thumb.url.to_s %></td>
    <tr/>
    <%end%> 
</tbody>
</table>
<%= link_to 'Back', projects_path, class:"back_button" %>
